  <%= link_to screening_path(screening) do %>
    <div class="screening">
        <div class="screening-img">
           <%= image_tag "https://image.tmdb.org/t/p/w200#{film.img_url}" %>
        </div>
        <span class='screening-info'>
          <p><%= screening.session_time.strftime("%d/%m/%Y, %H:%M") %></p>
          <p><em><%= screening.screen.name %></em></p>
          <p>Ingressos disponíveis: <strong>
            <% available_tickets = screening.initial_tickets - screening.tickets.count %>
            <%= available_tickets %>
            </strong>
          </p>
          <% price = screening.calculate_price(Time.now, available_tickets) %>
          <% session["screening_#{screening.id}_price".to_sym] = price %>
          <p>A partir de <%= price %> - compre já!</p>
        </span>
    </div>
  <% end %>
