<div class="mini banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://image.tmdb.org/t/p/original<%=@screening.detailed_film.film_title.banner_url%>');">
  <h1><%= @screening.detailed_film.title %></h1>
</div>

<% available_tickets = @screening.initial_tickets - @screening.tickets.count %>
<% price = @screening.calculate_price(Time.zone.now, available_tickets) %>
    <% discount = (100 * (1 - (price.match(/(\d+,\d{0,2})/)[1].sub(',', '').to_f / @screening.max_price_cents))).to_i %>
    <% session["screening_#{@screening.id}_price".to_sym] = price %>
    <p><%= price %></p>

<div class="movie row">

  <div class="col-xs-5 col-sm-3 col-md-4 col-lg-3 col-sm-absolute">
    <img class="img-responsive"
    src="https://image.tmdb.org/t/p/w200<%=@screening.detailed_film.film_title.img_url%>">
  </div>

  <div class="col-xs-7 col-sm-9 col-sm-offset-3
   col-md-8 col-md-offset-4 col-lg-9 col-lg-offset-3">

    <div class="movie-info">
        <span class='movie-tag'><%= @screening.detailed_film.speech %></span>
        <span class='movie-tag'><%= @screening.detailed_film.format.name %></span>
        <p><%= @screening.screen.name %></p>
          <p><%= @screening.session_time.strftime("%e/%m")%> <%= @screening.session_time.strftime("%H:%M") %> </p>
    </div>

  </div>
</div>

<div class="row">
  <div class="movie-price">
    <p> <%= available_tickets %> lugares disponíveis. </p>
    <% if discount >= 10 %>
      <p><%= discount %>% de desconto.</p>
    <% end %>
    <%= button_to 'Comprar!', [@screening, @ticket], { class: 'btn btn-medium' } %>
  </div>
</div>


</div>

<div class="scg-title">
  <p>Em outras salas:</p>
</div>

<div class="cards">
  <% @film_title.screenings.each do |screening| %>
    <%= render 'shared/cards',
               screening: screening,
               film: @screening.detailed_film.film_title,
               display_title: false %>
  <% end %>
</div>

