<div class="mini banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://image.tmdb.org/t/p/original<%=@screening.detailed_film.film_title.banner_url%>');">
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12">
      <div class="movie-details">
        <a href=<%= film_title_path(@screening.detailed_film.film_title) %>>
        <img src='https://image.tmdb.org/t/p/w200<%=@screening.detailed_film.film_title.img_url%>'></a>
        <div class="movie-description">
          <h1><%= @screening.detailed_film.film_title.title %></h1>
          <h5>
            <span class='tag'><%= @screening.detailed_film.speech %></span>
            <span class='tag'><%= @screening.detailed_film.format.name %></span>
          </h5>
          <a href=<%= screen_path(@screening.screen) %> style='text-decoration: none;''>
          <h4>Sala: <%= @screening.screen.name %></h4>
          </a>
          <h5>Horário: <%= @screening.session_time.strftime("%H:%M") %></h5>
          <p><em><%= @film_title.synopsis %></em></p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
      <div class="buy-options">
        <div class="col-xs-12 col-sm-4">
          <h4><%= @available_tickets %> ingressos disponíveis.</h4>
        </div>
        <div class="col-xs-12 col-sm-4">
          <h4>Por apenas <%= session[:ticket_price] %>!</h4>
        </div>
        <div class="col-xs-12 col-sm-4">
          <%= button_to 'Comprar!', [@screening, @ticket], { class: 'btn btn-medium' } %>
        </div>
      </div>
  </div>

  <h3>Outras sessões do filme: <%= @screening.detailed_film.film_title.title %></h3>
  <div class="row">
    <% @film_title.screenings.each do |screening| %>
      <%= render 'screenings/screening_card',
                 screening: screening,
                 film: @screening.detailed_film.film_title,
                 display_title: false %>
    <% end %>
  </div>
</div>
