<div class="col-xs-12 col-md-6 search-wrapper">
  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#day0" aria-controls="day0" role="tab" data-toggle="tab"><p>Hoje</p></a></li>
    <li role="presentation"><a href="#day1" aria-controls="day1" role="tab" data-toggle="tab"> <p>Amanhã</p></a></li>
    <li role="presentation"><a href="#day2" aria-controls="day2" role="tab" data-toggle="tab"> <p><%= (Time.zone.today + 2).strftime("%e/%m") %></p></a></li>
    <li role="presentation"><a href="#day3" aria-controls="sday3" role="tab" data-toggle="tab"> <p><%= (Time.zone.today + 3).strftime("%e/%m") %></p></a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content red">
    <div role="tabpanel" class="tab-pane active" id="day0">
      <% @screenings.each do |screening| %>
        <% if screening.session_time.strftime("%H/%M") >= (Time.zone.now).strftime("%H/%M") %>
          <% if screening.session_time.strftime("%e/%m") == (Time.zone.now).strftime("%e/%m") %>
            <%= render 'shared/cards',
                       screening: screening,
                       film: screening.detailed_film.film_title,
                       display_title: true,
                       display_image: true %>
          <% end %>
        <% end %>
      <% end %>
    </div>
    <div role="tabpanel" class="tab-pane" id="day1">
      <% @screenings.each do |screening| %>
        <% if screening.session_time.strftime("%e/%m") == (Time.zone.today + 1).strftime("%e/%m") %>
          <%= render 'shared/cards',
                     screening: screening,
                     film: screening.detailed_film.film_title,
                     display_title: true,
                     display_image: true %>
        <% end %>
      <% end %>
    </div>
    <div role="tabpanel" class="tab-pane" id="day2">
      <% @screenings.each do |screening| %>
        <% if screening.session_time.strftime("%e/%m") == (Time.zone.today + 2).strftime("%e/%m") %>
          <%= render 'shared/cards',
                     screening: screening,
                     film: screening.detailed_film.film_title,
                     display_title: true,
                     display_image: true %>
        <% end %>
      <% end %>
    </div>
    <div role="tabpanel" class="tab-pane" id="day3">
      <% @screenings.each do |screening| %>
        <% if screening.session_time.strftime("%e/%m") == (Time.zone.today + 3).strftime("%e/%m") %>
          <%= render 'shared/cards',
                     screening: screening,
                     film: screening.detailed_film.film_title,
                     display_title: true,
                     display_image: true %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

</div>
