<%= link_to screening_path(screening) do %>

<% available_tickets = screening.initial_tickets - screening.tickets.count %>
<% price = screening.calculate_price(Time.zone.now, available_tickets) %>
        <% discount = (100 * (1 - (price.match(/(\d+,\d{0,2})/)[1].sub(',', '').to_f / screening.max_price_cents))).to_i %>
      <% session["screening_#{screening.id}_price".to_sym] = price %>

<div class="card row">

    <div class="card-details">

      <div class="card-info">
        <h4><%= screening.detailed_film.title %></h4>
          <span class='card-tag'><%= screening.detailed_film.speech %></span>
          <span class='card-tag'><%= screening.detailed_film.format.name %></span>
      </div>

    <div class="card-scg">

      <p><%= screening.screen.name %></p>
      <p><%= screening.session_time.strftime("%e/%m")%> <%= screening.session_time.strftime("%H:%M") %> </p>
    </div>

  </div>

    <div class="card-price">
      <div><%= available_tickets %> lugares disponíveis</div>
      <div><p><%= price %></p></div>
      <% if discount >= 10 %>
        <div><%= discount %>% de desconto</div>
      <% end %>
    </div>

  </div>

<% end %>
