<% t = 0 %>
<% c = 0 %>

<div class="container">
  <div class="ticket-user-name col-md-offset-2">
  <h1>Olá, <%= current_user.first_name %> <%= current_user.last_name %>!</h1>
  </div>
  <div class="row col-md-8 col-md-offset-2">
  <% @tickets.each do |ticket| %>
    <% if ticket.screening.session_time > Time.zone.now %>
      <% if t == 0 %>
        <div class="ticket-h4">
        <h4>Ingressos para sessões futuras:</h4>
        </div>
      <% end %>
      <% t += 1 %>
        <div class="row tickets">
          <div class="col-xs-12 col-sm-6 col-md-6">
            <a href=<%= screening_path(ticket.screening.id)%>>
              <h1><%= ticket.title %></h1>
            </a>
            <p>Preço: <%= ticket.price.format(symbol_before_without_space: false) %></p>
            <span>
              <p>Data: <%= ticket.screening.formatted_date %></p>
              <p>Horário: <%= ticket.screening.formatted_time %></p>
            </span>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-6">
            <a href=<%= screen_path(ticket.screening.screen.id)%>>
              <p> Local: <%= ticket.screening.screen.name %></p>
            </a>
      <% if ticket.status == 'paid' %>
        <%= link_to 'Imprimir', ticket_path(ticket), class: 'btn btn-medium'%>
      <% else %>
        <p> Pagamento a ser aprovado</p>
      <% end %>
          </div>
        </div>
    <% else %>
      <% if c == 0 %>
        <div class="ticket-h4">
        <h4>Ingressos para sessões antigas:</h4>
        </div>
      <% end %>
      <% c += 1 %>
        <div class="row tickets">
          <div class="col-xs-12 col-sm-6 col-md-6">
            <a href=<%= screening_path(ticket.screening.id)%>>
            <h1><%= ticket.title %></h1>
            </a>
            <p>Preço: <%= ticket.price.format(symbol_before_without_space: false) %></p>
            <span>
            <p>Data: <%= ticket.screening.formatted_date %></p>
            <p>Horário: <%= ticket.screening.formatted_time %></p>
            </span>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-6">
            <a href=<%= screen_path(ticket.screening.screen.id)%>>
            <p> Local: <%= ticket.screening.screen.name %></p>
            </a>
      <% if ticket.status == 'paid' %>
        <p> Ticket indisponível</p>
      <% else %>
        <p> Pagamento não foi aprovado</p>
      <% end %>
          </div>
        </div>
    <% end %>
  <% end %>
  </div>
</div>
