<h2>Ticket for <%= @screening.detailed_film.film_title.title %></h2>
<p><%= "#{@screening.screen.name}, #{@screening.session_time.strftime('%H:%M')}" %></p>
<%= form_tag order_payments_path(@screening) do %>
  <article>
    <label class="price">
      <span>Amount: R$ <%= (@screening.price_centavos / 100.0).round(2) %></span>
    </label>
  </article>

  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
    data-name="Film ticket"
    data-email="<%= current_user.email %>"
    data-description="Movie <%= @screening.detailed_film.film_title.title %>"
    data-amount="<%= @screening.price_centavos %>"
    data-currency="<%= @screening.price_centavos.currency %>"></script>
<% end %>
