<div class="container">
  <h3>Lista de filmes</h3>
  <% @detailed_films.each do |film| %>
  <p> <%= film.film_title.title %>
    <%= film.speech %>
    <%= film.format.name %></p>
    <%= link_to 'Ver mais', detailed_film_path(film)  %>
  <% end %>
  <%= link_to 'Voltar', root_path %>
</div>
